@media screen and (max-width: 1629px) {
  .operations_content p {
    font-size: 1.2rem;
  }
  .stats_row h4,
  .stats_row p, .stats_row span{
    font-size: 1.1rem;
  }
  footer{
    height: auto;
  }
}
@media screen and (max-width: 1543px) {
  nav {
    font-size: 1.3rem;
    justify-content: space-around;
  }
  nav img {
    width: 100%;
  }
  nav ul li {
    margin-right: 0px;
  }
  nav a:first-child {
    width: 20%;
  }
  #header_info {
    width: 70%;
  }
  #features {
    flex-wrap: wrap;
  }
  #features i {
    margin: 2rem auto;
  }
  #features img {
    width: 40%;
  }
  .form_row span {
    right: -4rem;
    color: red;
    width: 6rem;
  }
}
@media screen and (max-width: 1427px) {
  #operations {
    width: 70%;
  }
  .operations_content {
    padding-right: 1rem;
  }
  .operations_content h5 {
    font-size: 1.8rem;
  }
  #author_container {
    width: 95%;
  }
  #info {
    flex-direction: column;
    padding: 0 3rem;
  }
  #operations_btns {
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 98%;
  }
  .operations_block {
    margin-top: 0;
    width: 33%;
  }
  #transaction_info {
    margin: 2rem auto;
  }
  #account_stats {
    border-top: 2px solid #c4c4c4;
    margin: 2rem auto 0;
  }
}
@media screen and (max-width: 1293px) {
  .testimonial_text {
    margin-bottom: 3rem;
    font-size: 1.5rem;
  }
  .dots:last-child {
    margin-right: none;
  }
  #account_stats,
  #transaction_info {
    width: 60%;
  }
}
@media screen and (max-width: 1253px) {
  #header_info {
    width: 90%;
  }
  #header_info h1 {
    font-size: 2.5rem;
  }
  #header_info h3 {
    font-size: 1.8rem;
  }
  #header_info .btn_text {
    font-size: 1.2rem;
  }
  #operations {
    width: 80%;
    flex-direction: column;
  }
  #operations_tab__container {
    flex-direction: row;
  }
  .operations_tab {
    height: 4.5rem;
    width: 100%;
    border-bottom: 2px solid black;
    border-right: none;
  }
  .operations_tab__active {
    border-bottom: none;
    border-right: 2px solid black;
  }
  .operations_content {
    padding: 2rem;
    border-top: none;
    border-left: 2px solid black;
    border-top: none;
    height: 500px;
  }
  .operations_content h5 {
    font-size: 1.8rem;
  }
  #section__3 {
    padding: 10rem 1rem;
  }
  .testimonial_text {
    font-size: 1.5rem;
  }
  #register_form,
  #login_form {
    width: 75%;
  }
}
@media screen and (max-width: 1104px) {
  #section__4 {
    padding: 10rem 1rem;
  }
  #author_container img {
    width: 14rem;
    height: 14rem;
  }
  #operations_btns {
    flex-direction: column;
  }
  .operations_block {
    width: 60%;
    margin: 1.5rem auto 0;
  }
}
@media screen and (max-width: 907px) {
  nav {
    flex-direction: column;
  }
  nav img {
    width: 85%;
  }
  nav a:first-child {
    width: 40%;
    text-align: center;
  }
  nav ul {
    width: 100%;
    justify-content: space-around;
  }
  .slider_btn {
    height: 4rem;
    width: 4rem;
    font-size: 3rem;
  }
  .testimonial h5 {
    font-size: 1.8rem;
  }
  .testimonial_text {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  .form_container {
    width: 100%;
  }
}
@media screen and (max-width: 801px) {
  nav {
    padding: 0.1rem 2rem;
  }
  nav ul {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #header_info {
    width: 100%;
    text-align: center;
  }
  #header_info button {
    margin: 0 auto;
  }
  #header_info h1 {
    font-size: 2.3rem;
    text-shadow: 5px 3px #444;
  }
  #header_info h3 {
    font-size: 1.6rem;
    text-shadow: 4px 2px #444;
  }
  #header_info .btn_text {
    font-size: 1.2rem;
    background-color: white;
    border-radius: 0.8rem;
  }
  .section_title h3 {
    font-size: 2.4rem;
  }
  #features i {
    font-size: 1.6rem;
  }
  #features img {
    width: 60%;
  }
  .features_feature p {
    width: 90%;
  }
  #operations {
    width: 95%;
  }
  #author_container {
    flex-direction: column;
  }
  #author_container img {
    width: 12rem;
    height: 12rem;
    margin: 0 auto 2rem auto;
  }
  #author_info__container {
    margin: 0 auto;
    width: 90%;
  }
  .section_title {
    margin-bottom: 4rem;
  }
  footer {
    flex-direction: column;
    padding: 2rem 0;
  }
  .footer_links {
    width: 100%;
  }
  .operations_block,
  #transaction_info,
  #account_stats {
    width: 90%;
  }
}
@media screen and (max-width: 639px) {
  #section__2 {
    padding: 10rem 1rem;
  }
  .operations_content {
    height: auto;
  }
  .testimonial {
    width: 80%;
  }
  .slider_btn__right {
    right: 1%;
  }
  .slider_btn__left {
    left: 1%;
  }
  .testimonial_photo {
    width: 5.5rem;
  }
  .testimonial h6 {
    font-size: 1.4rem;
  }
  .testimonial p {
    font-size: 1.1rem;
  }
  .slider_btn {
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
  }
  .dots_dot {
    width: 0.8rem;
    height: 0.8rem;
  }
  .dots_dot:last-child {
    margin-right: 0;
  }
  #register_form,
  #login_form {
    width: 97%;
  }
  .form_container {
    padding: 0;
  }
  form button {
    width: 70%;
  }
  .form_row span {
    right: -1rem;
    width: 3rem;
  }
}
@media screen and (max-width: 527px) {
  nav a:first-child {
    width: 60%;
  }
  nav {
    flex-direction: row;
    align-items: baseline;
    padding: 0 0rem;
    justify-content: space-between;
  }
  nav ul {
    display: none;
    flex-direction: column;
  }
  .nav_coll {
    background-color: white;
    border-radius: 0 0 0 40px;
    padding: 1rem;
  }
  .collapsing_nav {
    text-align: end;
  }
  .exit_coll__nav {
    text-align: end;
  }
  .collapsing_nav i,
  .exit_coll__nav i {
    padding: 1rem;
    border-radius: 40%;
  }
  .nav_coll {
    position: absolute;
    top: 0;
    right: 0;
  }
  #header_info {
    padding: 0 0.5rem;
  }
  .section_title {
    margin-bottom: 3rem;
  }
  .section_title h3 {
    font-size: 1.8rem;
  }
  #features img {
    width: 80%;
  }
  .features_feature p {
    width: 100%;
  }
  .operations_content h5 {
    margin-top: 1rem;
  }
  .operations_content p {
    font-size: 1rem;
  }
  .testimonial {
    width: 70%;
  }
  .testimonial h5 {
    font-size: 1.4rem;
  }
  #author_container img {
    width: 8rem;
    height: 8rem;
    margin: 0 auto 2rem auto;
  }
  #author_info {
    margin: 0 auto;
  }
  #author_info__container {
    width: 97%;
    flex-direction: column;
    text-align: center;
  }
  #author_social__media {
    width: 95%;
    margin-top: 2rem;
    margin-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
  }
  #info {
    padding: 1rem 0;
  }
}
@media screen and (max-width: 426px) {
  #section__1 {
    padding: 7rem 1rem;
  }
  .section_title {
    margin-bottom: 1rem;
  }
  .section_title h3 {
    font-size: 1.8rem;
  }
  #features img {
    width: 80%;
  }
  .features_feature p {
    width: 100%;
  }
  .testimonial_author {
    margin-bottom: 3rem;
  }
  #slider {
    height: 35rem;
  }
  .slide {
    height: 35rem;
  }
  .stats_row h4,
  p {
    font-size: 0.8rem;
  }
  .operations_block{
    padding: 0.2rem;
  }
  .operations_block input{
    width: 60%;
  }
}
