@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

:root {
  --Primary: #328533;
  --Secondary: #acc164;
  --Tertiary: #ced27e;
  --Text: #444;
  --Background__body: #f8f2f2;
  --Background__container: #f8f8f8;
  --Border_color: #9d9d9d;
  --Primary_color__gradient: linear-gradient(to top left, #328533, #90e591);
  --Secondary_color__gradient: linear-gradient(to top left, #acc164, #e3f3b1);
  --Red_color__gradient: linear-gradient(to top left, #f74311, #fba992);
}

/* General */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--Text);
}

a {
  text-decoration: none;
}

body {
  background-color: var(--Background__body);
  font-size: 1.4rem;
}

ul {
  list-style-type: none;
}

img {
  transition: filter 0.5s;
}

/* Header */
header {
  height: 100vh;
  background-image: url(../img/cover.jpg);
  background-size: cover;
  background-position: center;
}
/* Nav meni */
nav {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6rem;
  z-index: 100;
}

nav img {
  width: 50%;
  opacity: 1;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 20px;
  padding: 1rem;
}

nav ul li:last-child {
  margin-right: 0px;
  background-color: var(--Primary);
  border-radius: 10rem;
}

nav ul li:last-child a {
  color: var(--Background__container);
}

/* Header info */
#header_info {
  width: 50%;
  height: 90vh;
  padding: 0 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#header_info h1 {
  font-size: 3.5rem;
  line-height: 1.35;
  padding-bottom: 2rem;
  color: #fff;
  text-shadow: 3px 3px #444;
}

#header_info h3 {
  font-size: 2.4rem;
  font-weight: 500;
  padding-bottom: 3rem;
  color: #fff;
  text-shadow: 2px 2px #444;
}

#header_info img {
  width: 100%;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  transform: translateY(-3rem);
}

#header_info .btn_text {
  width: 25%;
  display: inline-block;
  background: none;
  font-size: 1.7rem;
  font-family: inherit;
  font-weight: 500;
  color: var(--Primary);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.nav__sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100vw;
}

/* Sections */
.section {
  padding: 10rem 5rem;
  border-top: 1px solid var(--Border_color);
  transition: transform 1s, opacity 1s;
}

.section_title {
  text-align: center;
  margin: 0 auto 8rem auto;
}

.section_title h2 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--Primary);
  margin-bottom: 1rem;
}

.section_title h3 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: 500;
}

.section_hidden {
  opacity: 0;
  transform: translateY(10rem);
}

/* Features */
.section_features {
  display: flex;
  flex-direction: column;
}

#features {
  display: flex;
  justify-content: space-between;
}

.features_feature {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 10px;
}

.features_feature i {
  font-size: 2rem;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto 1.2rem;
  align-items: center;
  background-color: var(--Tertiary);
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.features_feature h5 {
  font-size: 1.6rem;
}

.features_feature p {
  width: 70%;
  margin: 1.2rem auto;
  text-align: center;
}

.features_feature img {
  width: 80%;
  margin: 0 auto;
}

#operations {
  display: flex;
  width: 60%;
  margin: 0 auto;
  height: 450px;
}

#operations_tab__container {
  display: flex;
  flex-direction: column;
}

.operations_tab {
  height: 33.4%;
  border: none;
  background-color: var(--Border_color);
  cursor: pointer;
  font-size: 1.3rem;
  font-family: inherit;
  transition: all 0.3s;
  width: 15rem;
  font-weight: 500;
  border-right: 2px solid black;
}

.operations_tab__active {
  background-color: var(--Background__container);
  border-left: 2px solid black;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 1px;
}

.operations_content {
  display: none;
  padding: 3rem 0 5rem 3rem;
  background-color: var(--Background__container);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}

.operations_content__active {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}

.operations_content h5 {
  margin: 2rem 0 0 0;
  font-size: 2rem;
  font-weight: 500;
}

/* Testimonials */
#slider {
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
  background-color: var(--Background__container);
}

.testimonial {
  width: 65%;
  position: relative;
}

.testimonial h5 {
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  text-align: center;
}

.testimonial_text {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 3.5rem;
  color: var(--Text);
}

.testimonial_author {
  font-style: normal;
  display: flex;
  justify-content: center;
  column-gap: 2rem;
}

.testimonial_photo {
  grid-row: 1 / span 2;
  width: 6.5rem;
  border-radius: 50%;
}

.testimonial h6 {
  font-size: 1.7rem;
  font-weight: 500;
  align-self: end;
  margin: 0;
}

.testimonial p {
  font-size: 1.5rem;
}

.slider_btn {
  position: absolute;
  top: 40%;
  z-index: 10;
  border: none;
  background: var(--Tertiary);
  font-family: inherit;
  color: var(--Text);
  border-radius: 50%;
  height: 5.5rem;
  width: 5.5rem;
  font-size: 3.25rem;
  cursor: pointer;
}

.slider_btn__left {
  left: 6%;
}

.slider_btn__right {
  right: 6%;
}

.dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots_dot {
  cursor: pointer;
  border: none;
  background-color: #c4c3c3;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  transition: all 0.3s;
}

.dots_dot__active {
  background-color: var(--Text);
  opacity: 1;
}

/* Author */

#author_container {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
}

#author_container img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  margin-left: 6rem;
}

#author_info__container {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  font-size: 2rem;
  margin-top: 0.5rem;
}

#author_info {
  width: 70%;
  display: flex;
  flex-direction: column;
}

#author_info p {
  margin-top: 1.1rem;
  font-size: 1.5rem;
  font-style: italic;
}

.highlight {
  font-weight: 700;
  font-style: normal;
  color: var(--Primary);
}

#author_social__media {
  width: 30%;
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#author_social__media i {
  margin-top: 1rem;
  font-size: 1.6rem;
}

/* Account.html */
#home{
  text-align: center;
}

.main_account{
  margin: 8rem auto;
}

.hidden{
  display: none;
}
/* Register */
#register_form, #login_form{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: var(--Background__container);
  padding: 2.5rem 3rem;
}

.form_container{
  padding: 2.5rem;
  width: 70%;
  margin: 0 auto;
}

#register_form form, #login_form form{
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

form input[type='text'], input[type='tel'], input[type='email'], form input[type='password']{
  margin-top: 1.4rem;
  padding: 1rem 0.6rem;
  border: solid 1px var(--Border_color);
  font-size: 1rem;
  width: 80%;
}

.form_row input[type='radio'], select{
margin-top: 1rem;
margin-bottom: 1rem
}

form select{
  padding: 0.8rem 0.4rem;
  font-size: 1rem;
}

form button{
  width: 35%;
  margin: 1rem auto 0 auto;
  padding: 0.8rem;
  font-size: 1rem;
  font-weight: 500;
  display: block;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.login_btn, .login_btn_acc{
  background-image: var(--Secondary_color__gradient);
}

.register_btn, .register_btn_acc {
  background-image: var(--Primary_color__gradient);
}
.login_btn_acc-2,.register_btn_acc-2{
  border: none;
  color: blue;
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.form_row{
  position: relative;
}

.form_row span{
  position: absolute;
  font-size: 0.8rem;
  bottom: 1.3rem;
  right: 4rem;
  color: red;
}

#register_error{
  color: red;
}

.form_row span i{
  color: green;
}

/* Account Info */
#account_info{
  text-align: center;
}

#info{
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;
  margin-top: 5rem;
}

#operations_btns{
  display: flex;
  flex-direction: column;
  width: 30%;
}

.operations_block{
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  padding: 1rem 2rem;
  border-radius: 4px;
  height: 10rem;
  justify-content: space-around;
}

.transport{
  margin-top: 0;
  background-image: var(--Secondary_color__gradient);
}

.loan{
  background-image: var(--Primary_color__gradient);
}

.close{
  background-image: var(--Red_color__gradient);
}

.operations_block h4{
  text-align: start;
}

.operation_block__row{
  display: flex;
  justify-content: start;
}

.operation_block__row input{
  margin-right: 2rem;
  margin-top: 0.4rem;
  padding: 0.3rem 0.6rem;
  border: solid 1px var(--Border_color);
  font-size: 1rem;
  width: 45%;
}

.operation_btn{
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  margin-top: 0.4rem;
  background-color: #023f9b;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}

#transaction_info{
  padding: 2rem 1rem;
  width: 35%;
  background-color: var(--Background__container);
  overflow: scroll;
}

#transaction_info h4{
  margin-bottom: 2rem;
}

.transaction {
  margin-top: 1.5rem;
  border-bottom: 1px solid var(--Border_color);
  display: flex;
  justify-content: space-between;
}


#account_stats{
  width: 30%;
  background-color: var(--Background__container);
  padding: 3rem 1rem;
}
.stats_row{
  display: flex;
  margin-top: 1.5rem;
  justify-content: space-between;
  border-bottom: 1px solid var(--Border_color);
}

/* Footer */
footer {
  height: 20vh;
  background-color: var(--Text);
  display: flex;
  text-align: center;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 1.4rem;
  color: #ffffff;
}

footer .footer_links {
  width: 25%;
  display: flex;
  flex-direction: column;
}

.footer_links i {
  font-size: 1.6rem;
  margin-right: 1rem;
  color: #ffffff;
}

.footer_links i:last-child {
  margin-top: 1rem;
}

.footer_links a {
  text-decoration: none;
  color: #ffffff;
}

/* Collapsing nav button */
.collapsing_nav, .exit_coll__nav{
  display: none;
}

.collapsing_nav i,  .exit_coll__nav i{
  font-size: 2rem;
  cursor: pointer;
}